.completed {
  text-decoration: line-through;
  color: gray;
}

.App{
  margin: 10rem auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;

}